
/*** 

====================================================================
	Main Footer
====================================================================

***/

.main-footer{
	position:relative;
	background-color:var(--black-color);
	padding-bottom:var(--padding-bottom-50);
	color: white;
}

.main-footer h2{
	color:var(--white-color);
}
.footer_number{
	margin-right: 38px;
}
